.dockerignore
.github
.tox
.editorconfig
tests/
tox.ini
Dockerfile
docker-compose.yml
**/*.egg-info/
build/
**/*.pyc
**__pycache__/
venv/
.git/
.idea/
.coverage
coverage.xml
.pre-commit-config.yaml
.gitignore
.ruff_cache
